name: Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 4

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js (20.x)
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn --immutable --immutable-cache

      - name: Build
        run: yarn build

      - name: Unit Tests
        run: yarn test

      - name: Lint
        run: yarn lint

      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi
